/*#region Начальные параметры*/
* {
  margin: 0;
  padding: 0;
}

h2 {
  font-weight: normal;
  font-size: 23px;
}

body {
  margin-top: 50px;
  background-color: #141414;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #303030;
}
/*#endregion */

/*#region Главная секция*/

.previewImg {
  display: inline-block;
  vertical-align: middle;
  height: 445px;
  border-radius: 7px;
}

.info {
  display: inline-block;
  vertical-align: middle;
  height: 445px;
  width: 317px;
  margin-left: 30px;
  background: #191919;
  border-radius: 7px;
}

#description {
  font-size: 20px;
  user-select: none;
}

.Descp {
  text-align: center;
  font-size: 25px;
}

/*#endregion*/

/*#region Кнопка*/
.btn {
  background: #141414;
  font-size: 16px;
  color: white;
  height: 45px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  transform: translate(0, 0);
  transition: background 0.7s ease;
}

.btn:hover {
  background: #2e2e2e;
}

.btn .btn-ripple {
  background: rgba(255, 255, 255, 0.2);
  position: absolute;
  border-radius: 100%;
  animation: ripple 1.5s;
  transform: scale(0);
}

#DownloadBtn {
  position: absolute;
  bottom: 0;
  width: calc(100% - 30px);
  margin: 15px;
  font-size: 18px;
  font-family: Arial;
}

@keyframes ripple {
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
/*#endregion*/

/*#region Анимированые hr*/
hr {
  margin: auto;
  border: none;
  color: rgb(70, 70, 70);
  background-color: #333;
}

.hrAnim {
  height: 1px;
  margin-top: 50px;
  transition: width 1s ease-out;
  width: 0;
}

.grow {
  width: 100%;
}
/*#endregion*/

/*#region Почему RedLine*/
#advantages {
  display: inline-block;
}

#advantages > div {
  vertical-align: middle;
  display: inline-block;
  text-align: center;
  background: #191919;
  border-radius: 7px;
  width: 349px;
  height: 300px;
  margin: 16px 14px;
}

#advantages > div svg {
  margin-top: 15px;
}

#advantages > div h2 {
  margin-top: 8px;
}

#advantages > div p {
  font-size: 19px;
  line-height: 23px;
  margin-top: 9px;
  color: #d2d2d2;
}
/*#endregion*/

/*#region Футер*/
footer {
  width: 100%;
  position: relative;
  background-color: #0f0f0f;
  height: 120px;
}

footer a {
  text-decoration: none;
}

#social {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.socimg {
  cursor: pointer;
  width: 48px;
  height: 48px;
}

#socdiscord:hover path {
  fill: #7289da;
}

#socvk:hover path {
  fill: #597da3;
}

#soctelegram:hover path {
  fill: #0088cc;
}
/*#endregion*/

/*#region Вспомогательные классы*/
.shadow {
  box-shadow: 0 0 15px #010a0a;
}
/*#endregion*/

/*#region Адаптив*/

@media screen and (max-width: 1143px) {
  .mainBody{
    width: 1040px;
    max-width: 1040px;
    background-color: #597da3;
  }
  .previewImg{
    height: 403px;
  }
  .info{
    width: 287px;
    height: 403px;
  }
}

@media screen and (max-width: 1040px) {
  .mainBody{
    width: 900px;
    max-width: 900px;
    background-color: #2f072e;
  }
  .previewImg{
    height: 347px;
  }
  .info{
    width: 247px;
    height: 347px;
  }
}

@media screen and (max-width: 900px) {
  .mainBody{
    width: 90%;
    max-width: 90%;
    background-color: #cc3c3c;
  }
  .previewImg{
    display: none;
  }
  .info{
    margin: 0;
  }
}
/*#endregion*/